@using System.Threading.Tasks
@model EasySurvey.Web.ViewModels.Survey.SectionGroupViewModel

<div>
    <h4 class="left col-md-offset-2">
        @Html.HiddenFor(s => s.Id)
        @*@Html.LabelFor(s => s.Title)*@
        @Html.DisplayTextFor(s => s.Title)</h4>
    <hr/>
    <div class="col-md-3 left col-md-offset-2">
    </div>
    <br/>
    <div class="col-md-3 left col-md-offset-2">
        @Html.LabelFor(s => s.IsMandatory)
        @Html.DisplayTextFor(s => s.IsMandatory)
        @if (!Model.IsMandatory)
        {
            <br/>
            <label>Choose</label>
            @Html.CheckBoxFor(s => s.IsSelected)
        }
    </div>
</div>