@using System.Threading.Tasks
@using EasySurvey.Web.ViewModels.Survey
@model EditSurveyViewModel

@{
    ViewData["Title"] = "Edit";
}
<h3>Update Survey</h3>
<form asp-action="Edit">
    <div class="form-horizontal">
        @Html.HiddenFor(m => m.Id)
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="col-md-10 left">
            <ul class="pager">
                <li><a asp-action="Index" class="btn pull-left">Surveys</a></li>
                <li><a asp-action="Index" asp-controller="AnswerGroups" asp-route-id="@Model.Id" class="btn pull-right">Next</a></li>
            </ul>
        </div>
        <div class="col-md-10 left">
            <div class="panel panel-primary">
                <div class="panel-heading">Survey General Info</div>
                <div class="panel-body">
                    <dl class="dl-horizontal ">
                        <dt>
                            @Html.DisplayNameFor(model => model.SurveyTemplate.Title)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SurveyTemplate.Title)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.SurveyState.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SurveyState.Name)
                        </dd>
                    </dl>
                </div>
            </div>
            @{
                await Html.RenderPartialAsync("~/views/Customers/_ViewCustomer.cshtml", Model.Customer, ViewData);
            }
        </div>
    </div>
</form>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}