@model IEnumerable<EasySurvey.Web.ViewModels.Survey.ListSurveyViewModel>

@{
    ViewData["Title"] = "Survey";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Surveys</h3>
    <br />
    <p>
        <a asp-action="Create" class="btn pull-right" ><span class="glyphicon glyphicon-plus"></span> &nbsp; Create</a>
    </p>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SurveyState)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SurveyTemplate)
                </th>
                <th style="width: 7%;"></th>
                <th style="width: 7%;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurveyState)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurveyTemplate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
