@model IEnumerable<SurveyListView>

@{
    ViewData["Title"] = "Survey";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.SurveyTemplateId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.SurveyState)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>Actions</th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.SurveyTemplateId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.SurveyState)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
</body>
</html>
