@model EasySurvey.Common.Models.Question

<tr>
    <th scope="row" width="50%">@Html.LabelFor(model => model.QuestionText, Model.QuestionText, new { Class = "col-lg-12 form-control-label", title = Model.HelpText })    </th>
    <td>
        @if (Model != null && Model.QuestionTypeId == 1)
            {
        <input type="text" class="form-control" id="exampleInputName2" placeholder="@Model.DefaultComments">
    }
    else if (Model != null && Model.QuestionTypeId == 2)
    {
        @foreach (var option in Model.OptionGroup.Option.OrderBy(item => item.Name))
                {
            <div class="radio-inline">
                <label>
                    <input type="radio" value="@option.Id"> @option.Name
                </label>
            </div>
        }
        }
        else /*if (Model != null && Model.QuestionTypeId == 3)*/
        {
            @foreach (var option in Model.OptionGroup.Option.OrderBy(item => item.Name))
                {
                <div class="radio-inline">
                    <label>
                        <input type="checkbox" value="@option.Id"> @option.Name
                    </label>
                </div>
            }
        }
</td>
<td><input type="text" class="form-control" id="exampleInputName2" placeholder="@Model.DefaultComments"></td>
</tr>


