@model EasySurvey.Common.Models.Question
<div class="row panel panel-default">
    @{
        var titlecssId = "title_bar_question" + Model.Id;
        var insidecssId = "inside_question" + Model.Id;
    }
    <div id="@titlecssId" class="title_bar_question panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#@insidecssId" >
                @{
                    if (Model.IsMandatory != null && Model.IsMandatory.Value)
                    {
                        @Html.LabelFor(m => m.IsMandatory, " *", new {@class = "red"})
                    }
                    @Html.LabelFor(model => model.QuestionText, Model.QuestionText, new {Class = "QuestionText left", title = Model.HelpText})
                }
            </a>
        </h4> 
        @* <div >
            @Html.HiddenFor(model => model.IsMandatory)
            @if (Model.IsMandatory != null && Model.IsMandatory.Value)
            {
                @Html.LabelFor(m => m.IsMandatory, " *", new {@class = "red"})
            }
            @Html.LabelFor(model => model.QuestionText, Model.QuestionText, new {Class = "QuestionText left", title = Model.HelpText})</div>
        <div id="collapseOne" class="button" target="@insidecssId">-</div>*@
    </div>
    <div id="@insidecssId" class="inside_question panel-collapse collapse in">
        <div>
            @Html.LabelFor(model => model.AnswerLabel, Model.AnswerLabel)
        </div>
        <div >
            @* @{
                await Html.RenderPartialAsync("~/views/Answers/_ViewAnswers.cshtml", Model.Answer, ViewData);
            }*@
            <p>Answer in the future here</p>
        </div>
        <div>
            @Html.LabelFor(model => model.Comments)
        </div>
        <div>
            @Html.DisplayTextFor(model => model.Comments)
        </div>
    </div>
</div>