@model EasySurvey.Common.Models.Question
<div class="row panel panel-default">
    @{
        var titlecssId = "title_bar_question" + Model.Id;
        var insidecssId = "inside_question" + Model.Id;
    }
    <div id="@titlecssId" class="title_bar_question panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#@insidecssId" >
                @{
                    if (Model.IsMandatory)
                    {
                        @Html.LabelFor(m => m.IsMandatory, " *", new {@class = "red"})
                    }
                    @Html.LabelFor(model => model.QuestionText, Model.QuestionText, new {Class = "QuestionText left", title = Model.HelpText})
                }
            </a>
        </h4>       
    </div>
    <div id="@insidecssId" class="inside_question panel-collapse collapse in section_description">
        <div>
            @Html.LabelFor(model => model.AnswerLabel, Model.AnswerLabel)
        </div>
        <div >            
            <p>Answer in the future here</p>
        </div>
        <div>
            @Html.LabelFor(model => model.DefaultComments)
        </div>
        <div>
            @Html.DisplayTextFor(model => model.DefaultComments)
        </div>
    </div>
</div>