@model EasySurvey.Common.Models.Question

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnswerLabel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerValidationExpression)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerValidationExpression)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DefaultComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefaultComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HelpText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HelpText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsMandatory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMandatory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
