@model EasySurvey.Web.ViewModels.AnswerGroups.AnswerGroupViewModel
<br />rrrrr
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        @Model.SortOrder - @Model.SectionGroup.Title
        @{
            if (@Model.SortOrder > 1)
            {
                <a id="button-delete" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary pull-right btn-sm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            }
        }
    </div>
    <div class="panel-body"> 
        <table style="width:100%">
            <thead>
                <tr>
                    <th colspan="2">
                        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="panel panel-primary">
                            <div class="panel-heading">Address Info</div>
                            <div class="panel-body">
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Recipient"></label>
                                            <input asp-for="Recipient" class="form-control" />
                                            <span asp-validation-for="Recipient" class="text-danger" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="AddressLine1"></label>
                                            <input asp-for="AddressLine1" class="form-control" />
                                            <span asp-validation-for="AddressLine1" class="text-danger" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="PostalCode"></label>
                                            <input asp-for="PostalCode" class="form-control" />
                                            <span asp-validation-for="PostalCode" class="text-danger" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="City"></label>
                                            <input asp-for="City" class="form-control" />
                                            <span asp-validation-for="City" class="text-danger" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Country"></label>
                                            <input asp-for="Country" class="form-control" />
                                            <span asp-validation-for="Country" class="text-danger" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="AnswerSection">Answer Section Count: </label> @Model.AnswerSection.Count
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.AnswerSection)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

