@model EasySurvey.Web.ViewModels.Customer.CreateCustomerViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <div class="panel panel-primary">
        <div class="panel-heading">Customer Info</div>
        <div class="panel-body">
            <br />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Telephone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telephone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.HomePage)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HomePage)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Subsidiaries)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Subsidiaries)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IndustrialClassification)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IndustrialClassification)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CVR)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CVR)
                </dd>

            </dl>
        </div>
    </div>
   
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
