@using EasySurvey.Web.ViewModels.Customers
@model EasySurvey.Web.ViewModels.Customers.CreateCustomerViewModel

@{
    ViewData["Title"] = "Customer Details";
}
<h2>Details</h2>

<div>
    <h4>Customer</h4> 
    <hr/>
    <div class="panel panel-primary">
        <div class="panel-heading">Customer Info</div>
        <div class="panel-body">
            <br/>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Telephone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telephone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.HomePage)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HomePage)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Subsidiaries)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Subsidiaries)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IndustrialClassification)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IndustrialClassification)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CVR)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CVR)
                </dd>

            </dl>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">@Html.DisplayNameFor(model => model.Responsible)</div>
        <div class="panel-body">
            <br/>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Responsible)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Responsible)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ResponsibleEmail)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ResponsibleEmail)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ResponsibleTelephone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ResponsibleTelephone)
                </dd>
            </dl>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">@Html.DisplayNameFor(model => model.IsPBSPayment)</div>
        <div class="panel-body">
            <br/>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.IsPBSPayment)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsPBSPayment)
                </dd>
                @if (Model.IsPBSPayment)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.RegistrationNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RegistrationNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AccountNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AccountNumber)
                    </dd>
                }
            </dl>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Agreement Details</div>
        <div class="panel-body">
            <br/>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.MultiannualAgreement)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MultiannualAgreement)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Forwards)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Forwards)
                </dd>
            </dl>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">@Html.DisplayNameFor(model => model.Activities)</div>
        <div class="panel-body">
            <br/>
            <div class="form-group row">
                <div class="col-lg-12">
                    @Html.DisplayFor(model => model.Activities)
                </div>
            </div>
        </div>
    </div>

    <p>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </p>
</div>