@model EasySurvey.Web.ViewModels.OptionGroups.ListOptionGroupsViewModel
@{
    ViewData["Title"] = "Option Groups";
}

<div class="row">
    <h3>Option Groups</h3>
    <hr />
    <div class="form-group">
        @*<a class="btn btn-primary" asp-action="Create">Create New Option Group</a>*@
        <a asp-action="Create" class="btn pull-right"><span class="glyphicon glyphicon-plus"></span> &nbsp; Add New Option Group</a>
    </div>
    <table class="table table-striped" id="tblOptionGroups">
        <tr>
            <th style="width: 80%;">
                @Html.DisplayNameFor(model => model.OptionGroups)
            </th>
            <th style="width: 10%;">Edit</th>
            <th style="width: 10%;">Delete</th>
        </tr>
        @foreach (var item in Model.OptionGroups)
        {
            <tr class="clickable-row" id="@item.Value">
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Value" class="glyphicon glyphicon-pencil"></a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Value" class="delete glyphicon glyphicon-remove"></a>
                </td>
            </tr>
        }
    </table>

    <h2>Options</h2>
    <hr />
    <div class="form-group">
        <a class="btn pull-right" data-toggle="modal" data-target="#optionModal"><span class="glyphicon glyphicon-plus"></span> &nbsp;Add New Option</a>
    </div>
    <br /><br />
    <div id="partialViewDiv"></div>

    <div class="modal fade" id="optionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Option</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label id="optionName" class="control-label">Name*</label>
                        <input type="text" id="optionNameText" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" id="optionDesciption">Description</label>
                        <input class="form-control" type="text" id="optionDescriptionText">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a id="submit1" name="submit1" href="#" class="btn btn-primary">Add Option</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/OptionGroups/optionsAjaxModule.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(document)
        .ready(function () {
            $('#tblOptionGroups').on('click', '.clickable-row', function (event) {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    $(this).addClass('active').siblings().removeClass('active');
                }
                var optionGroupId = $(this).attr('id');
                OptionsAjax.populateView(optionGroupId);
            });
            
            var optionGroupId = $(".clickable-row").first().attr('id');
            OptionsAjax.populateView(optionGroupId);
            $('a[name="submit1"]')
                .click(function (event) {
                    var name = $('#optionNameText');
                    var description = $('#optionDescriptionText');
                    OptionsAjax.addOption(name, description, optionGroupId);
                    $('#optionModal').modal('toggle');
                });
        });
</script>