@model EasySurvey.Common.Models.Section
<div class="section row panel panel-default">
    @{
        var titleCssId = "title_bar_section" + Model.Id;
        var insideCssId = "inside_section" + Model.Id;
    }
    <div id="@titleCssId" class="title_bar_section panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#@insideCssId">
                @Html.LabelFor(model => model.Title, Model.Title, new { Class = "left" })
            </a>
        </h4>
    
        <div id="@insideCssId" class="inside_section panel-group  panel-collapse collapse in">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>@Html.LabelFor(model => model.Description)</th>
                        <th colspan="2">@Html.DisplayFor(model => model.Description) </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var question in Model.Question.OrderBy(item => item.SortOrder))
                    {
                        await Html.RenderPartialAsync("~/views/Question/_EditQuestion.cshtml", question, ViewData);
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>