@model EasySurvey.Common.Models.Section
<div class="section row">
      @{
        var titlecssClass = "title_bar_section" + Model.Id;
        var insidecssClass = "inside_section" + Model.Id;
    }
    <div class="title_bar_section @titlecssClass">
        <div > @Html.LabelFor(model => model.Title, Model.Title, new {@Class = "left"})</div>
        <div class="button" target="@insidecssClass">-</div>
    </div>
    <div class="inside_section @insidecssClass">
        <div >
            <div class="label_description">@Html.LabelFor(model => model.Description) </div>
            <div class="display_description">@Html.DisplayFor(model => model.Description) </div>
        </div>

        @foreach (var question in Model.Question)
        {
            await Html.RenderPartialAsync("~/views/Question/_ViewQuestion.cshtml", question, ViewData);
        }
    </div>
</div>