@model EasySurvey.Web.ViewModels.AnswerGroups.AnswerGroupListViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Answer Groups Update</title>
</head>
<body>
    <h3>Update Answer Groups</h3>
    <div class="col-md-10 left">
        <ul class="pager">
            <li><a asp-action="Index" asp-controller="Survey" class="btn pull-left">Surveys</a></li>
            <li><a asp-action="Edit" asp-controller="Survey"  asp-route-id="@Model.SurveyId" class="btn pull-left">Previous</a></li>
        </ul>
    </div>
    <div class="col-md-10 left">
        <ul class="nav nav-tabs">
            @{
                for (int i = 0; i < Model.AnswerGroupViewModel.Count(); i++)
                {
                    var answerGroup = Model.AnswerGroupViewModel.ElementAt(i);
                    if (answerGroup.Id == Model.SelectedId)
                    {
                        <li class="active"><a data-toggle="tab" href="#@(answerGroup.Id)" name="@(answerGroup.Id)">@answerGroup.Title</a></li>
                    }
                    else
                    {
                        <li><a data-toggle="tab" href="#@(answerGroup.Id)" name="@(answerGroup.Id)">@answerGroup.Title</a></li>
                    }
                }
            }
        </ul>

        <div class="tab-content">
            @{
                for (int i = 0; i < Model.AnswerGroupViewModel.Count(); i++)
                {
                    var answerGroup = Model.AnswerGroupViewModel.ElementAt(i);
                    if (answerGroup.Id == Model.SelectedId)
                    {
                        <div id="@(answerGroup.Id)" class="tab-pane fade in active">
                            @{
                                await Html.RenderPartialAsync("~/views/AnswerGroups/_EditAnswerGroups.cshtml", answerGroup, ViewData);
                            }
                        </div>
                    }
                    else
                    {
                        <div id="@(answerGroup.Id)" class="tab-pane fade">
                            @{
                                await Html.RenderPartialAsync("~/views/AnswerGroups/_EditAnswerGroups.cshtml", answerGroup, ViewData);
                            }
                        </div>
                    }
                }
            }
        </div>
    </div>
</body>
</html>

<script src="~/js/AnswerGroups/AnswerGroupsAjaxModule.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(document)
        .ready(function () {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href");
                var id = $(e.target).attr("name");
                AnswerGroupAjax.populateView(id);
            });
            var id = $('.nav-tabs .active').children().first().attr("name")
            AnswerGroupAjax.populateView(id);
        });
</script>
