@model EasySurvey.Web.ViewModels.AnswerGroups.AnswerGroupListViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Answer Groups Update</title>
</head>
<body>
    <h3>Update Answer Groups</h3>
    <input type="hidden" asp-for="SurveyId" />
    <div class="col-md-10 left">
        <ul class="pager">
            <li><a asp-action="Index" asp-controller="Survey" class="btn pull-left">Surveys</a></li>
            <li><a asp-action="Edit" asp-controller="Survey"  asp-route-id="@Model.SurveyId" class="btn pull-left">Previous</a></li>
        </ul>
    </div>
    <div class="col-md-10 left">
        @{
            var groups = Model.AnswerGroupViewModel.GroupBy(item => item.SectionGroupId)
                            .Select(group => new { SectionGroupId = group.Key, Items = group.ToList() }).ToList();
        }
        <ul class="nav nav-tabs">
            @{
                for (int i = 0; i < groups.Count(); i++)
                {
                    var group = groups.ElementAt(i);
                    var answerGroup = group.Items.First();
                    if (answerGroup.Id == Model.SelectedId)
                    {
                        <li class="active"><a data-toggle="tab" href="#@(answerGroup.SectionGroupId)" name="@(answerGroup.SectionGroupId)">@answerGroup.Title</a></li>
                    }
                    else
                    {
                        <li><a data-toggle="tab" href="#@(answerGroup.SectionGroupId)" name="@(answerGroup.SectionGroupId)">@answerGroup.Title</a></li>
                    }
                }
            }
        </ul>

        <div class="tab-content">
            @{
                for (int i = 0; i < groups.Count(); i++)
                {
                    var group = groups.ElementAt(i);
                    var answerGroup = group.Items.First();
                    if (answerGroup.Id == Model.SelectedId)
                    {
                        <div id="@(answerGroup.SectionGroupId)" class="tab-pane fade in active">
                            <div class="form-group row">
                                <div class="col-md-12 col-sm-offset-0">
                                    @{
                                        if (!answerGroup.IsMandatory)
                                        {
                                            <div class="checkbox">
                                                <div class="checkbox">
                                                    <input class="isusedck" id="@answerGroup.Id" asp-for="@answerGroup.IsUsed" />
                                                    <label asp-for="@answerGroup.IsUsed"></label>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div id="partialViewAnswerGroup_@(answerGroup.SectionGroupId)" class="partial"></div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="@(answerGroup.SectionGroupId)" class="tab-pane fade">
                            <div class="form-group row">
                                <div class="col-md-12 col-sm-offset-0">
                                    @{
                                        if (!answerGroup.IsMandatory)
                                        {
                                            <div class="checkbox">
                                                <div class="checkbox">
                                                    <input class="isusedck" id="@answerGroup.Id" asp-for="@answerGroup.IsUsed" />
                                                    <label asp-for="@answerGroup.IsUsed"></label>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div id="partialViewAnswerGroup_@(answerGroup.SectionGroupId)" class="partial"></div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</body>
</html>

<script src="~/js/AnswerGroups/AnswerGroupsAjaxModule.js" asp-append-version="true"></script>
<script src="~/js/Comments/CommentsAjaxModule.js" asp-append-version="true"></script>

<script type="text/javascript">
    $(document)
        .ready(function () {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href");
                var sectionGroupId = $(e.target).attr("name");
                var surveyId = $('input#SurveyId').val();
                AnswerGroupAjax.populateAnswerGroupsView(surveyId, sectionGroupId);
            });

            $('input[class=isusedck]').change(function (e) {
                //var answerGroupId = $('input#Id').val();
                var answerGroupId = this.id;
                var sectionGroupId = $('input#SectionGroupId').val();
                var surveyId = $('input#SurveyId').val();
                var isUsed;
                var id = $('.nav-tabs .active').children().first().attr("name")
                if ($(this).is(':checked')) {
                    $(this).addClass('checked');
                    isUsed = true;
                    AnswerGroupAjax.useAnswerGroup(isUsed, answerGroupId, sectionGroupId, surveyId);

                } else {
                    if (confirm('This will delete all the data currently saved. Are you sure you want unuse this section?')) {
                        $(this).removeClass('checked');
                        isUsed = false;
                        AnswerGroupAjax.useAnswerGroup(isUsed, answerGroupId, sectionGroupId, surveyId);
                    }
                }

                //if ($('input#IsUsed').is(':checked'))
                //{
                //    $('input#IsUsed').addClass('checked');
                //    isUsed = true;
                //    //AnswerGroupAjax.useAnswerGroup(isUsed, answerGroupId, sectionGroupId, surveyId);
                //} else
                //{
                //    if (confirm('This will delete all the data currently saved. Are you sure you want unuse this section?')) {
                //        $('input#IsUsed').removeClass('checked');
                //        isUsed = false;
                //        //AnswerGroupAjax.useAnswerGroup(isUsed, answerGroupId, sectionGroupId, surveyId);
                //    }
                //}
            });
            var surveyId = $('input#SurveyId').val();
            var sectionGroupId = $('.nav-tabs .active').children().first().attr("name")
            AnswerGroupAjax.populateAnswerGroupsView(surveyId, sectionGroupId);
        });
</script>
