@model IEnumerable<EasySurvey.Web.ViewModels.AnswerGroups.AnswerGroupViewModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Answer Groups Update</title>
</head>
<body>
    <h3>Update Answer Groups</h3>

    <ul class="nav nav-tabs">
        @{
            for (int i = 0; i < Model.Count(); i++)
            {
                var answerGroup = Model.ElementAt(i);
                if (i == 0)
                {
                    <li class="active"><a data-toggle="tab" href="#@(answerGroup.Id)_AnswerGroup">@answerGroup.SectionGroupTitle</a></li>
                }
                else
                {
                    <li><a data-toggle="tab" href="#@(answerGroup.Id)_AnswerGroup">@answerGroup.SectionGroupTitle</a></li>
                }
            }
        }
    </ul>

    <div class="tab-content">
        @{
            for (int i = 0; i < Model.Count(); i++)
            {
                var answerGroup = Model.ElementAt(i);
                if (i == 0)
                {
                    <div id="@(answerGroup.Id)_AnswerGroup" class="tab-pane fade in active">
                        <div class="form-group">
                            @{
                                if (!answerGroup.IsMandatory)
                                {
                                    <label asp-for="@answerGroup.IsUsed" class="control-label col-sm-2">Wish to fill this area:</label>
                                    <div class="col-md-4">
                                        @Html.CheckBoxFor(s => s.ElementAt(i).IsUsed)
                                    </div>
                                }
                            }
                        </div>
                        <div class="form-group">
                            @{ 
                                await Html.RenderPartialAsync("~/views/SectionGroups/_EditSectionGroup.cshtml", answerGroup.SectionGroup, ViewData);
                            }
                                
                        </div>
                    </div>
                }
                else
                {
                    <div id="@(answerGroup.Id)_AnswerGroup" class="tab-pane fade">
                        <table class="table">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>
                                        @{
                                            if (!answerGroup.IsMandatory)
                                            {
                                                <label asp-for="@answerGroup.IsUsed" class="control-label col-sm-2">Wish to fill this area:</label>
                                                <div class="col-md-4">
                                                    @Html.CheckBoxFor(s => s.ElementAt(i).IsUsed)
                                                </div>
                                            }
                                        }
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @{
                                            await Html.RenderPartialAsync("~/views/SectionGroups/_EditSectionGroup.cshtml", answerGroup.SectionGroup, ViewData);
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            }
        }
    </div>
</body>
</html>
